
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', 'Segoe UI','Open Sans', 'Helvetica Neue';
    font-size: 1.125rem;
}

:root {
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Light-Grayish-Blue: hsl(220, 18%, 97%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Light-Blue-Dark: hsl(233, 60%, 55%);
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Strong-Cyan-Dark: hsl(171, 44%, 35%);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

h2 {
    font-size: 2.15rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue)
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue)
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}

ul {
    list-style: none;
}



.bg-header {
    background-image: url("images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 22.688rem;
    width: 100%;
    top: 0;
    z-index: -1;
}

.button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2.5rem;
    width: 100%;
}

.button a {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0.5rem;
    cursor: pointer;
}

.primary {
    background-color: var(--Strong-Cyan);

    padding: 1rem 2.25rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid var(--Strong-Cyan-Dark) ;
}

.primary:hover {
    filter: drop-shadow(0 2px 4px var(--Strong-Cyan));
}

.secondary {
    background-color: var(--Light-Blue);
  
    padding: 1rem 2.25rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid var(--Light-Blue-Dark) ;
}

.secondary:hover {
    filter: drop-shadow(0 2px 4px var(--Light-Blue));
}

.logo {
    background-image: url(images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
 
.tittle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 8.125rem;
    
    text-align: center;
    word-wrap: break-word;

    width: 100%;
}

.tittle .logo {
    margin-bottom: 3.75rem;
    height: 7.813rem;
    width: 7.813rem;
}

.tittle p {
    margin: 1rem 0 0 0;
    padding: 0 25%;
}

.second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    text-align: center;
    word-wrap: break-word;

    width: 100%;
}

.second h2 {
    margin-top: 9.25rem;
}

.second p {
    margin: 1rem 0 0 0;
    font-size: 1.15rem;
    padding: 0 25%;
}

.third {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 5rem;
}

.computer {
    background-image: url(images/image-computer.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35.625rem;
    width: 100%;
    margin-left: -2rem;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 2;
    padding-right: 18%;
    width: 51.875rem;
    margin-top: 2rem;
}

.list h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.list p {
    font-size: 1rem;
    line-height: 2;
}

.fourth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
    text-align: center;
    word-wrap: break-word;
}

.fourth h2 {
    margin-top: 9.25rem;
}

.fourth p {
    margin: 1rem 0 0 0;
    font-size: 1.15rem;
    padding: 0 25%;
}

.devices {
    background-image: url(images/image-devices.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35.938rem;
    width: 56.563rem;
    margin-top: 5.5rem;
}

.fifth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fifth p {
    margin-top: 25px;
    font-size: 1.15rem;
    padding: 0 6rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    padding: 0 7rem;
    width: 100%;
}

.cards p {
    font-size: 1rem;
    line-height: 2;
    padding: 0;
}

.blacklist,
.snippets,
.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 21rem;
}

.icon {
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin-bottom: 2rem;
}

.blacklist .icon{
    background-image: url(images/icon-blacklist.svg);
}

.snippets .icon{
    background-image: url(images/icon-text.svg);
}

.preview .icon{
    background-image: url(images/icon-preview.svg);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10rem;
    padding: 0 5rem;
    height: fit-content;
    width: 100%;
}

footer {
    background-color: var(--Light-Grayish-Blue);
    height: 10rem;
    margin-top: 10rem;
    bottom: 0;
}

footer .logo {
    height: 3.5rem;
    width: 3.5rem;
}

footer .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 5rem;
}

footer ul {
    display: flex;  
    flex-direction: column;  
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    line-height: 2;

    width: 30rem;
    height: 5rem;
}

/* li:nth-child(3n) {
    flex-basis: 100%;
} */

.social {
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
    height: 100%;
}


@media screen and (max-width:480px) {


    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .container {
        padding: 0 2rem;
    }

    .tittle p {
        font-size: 1.15rem;
        padding: 0;
    }
    
    .button a {
        width: 100%;
    }

    .second p {
        font-size: 1.15rem;
        padding: 0;
    }

    .third {
        flex-direction: column;
    }

    .computer {
        background-image: url(images/image-computer.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 16.625rem;
        width: 100%;
        margin-left: 0;
    }

    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 2;

        padding-right: 0;
       
        width: 100%;
        margin-top: 2rem;
    }

    .fourth p {
        font-size: 1.15rem;
        padding: 0;
    }

    .devices {
        height: 14rem;
        width: 100%;
    }

    .fifth h2 {
        margin-top: 5rem;
    }

    .fifth p {
        font-size: 1.15rem;
        padding: 0;
    }

    .cards {
        padding: 0;
    }

    .cards p {
        margin-bottom: 2.5rem;
    }

    .logos {
        margin-top: 0;
        padding: 0;
        height: 50rem;
     
        flex-direction: column;
    }

    footer {
        height: 30rem;
    }

    footer .content {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        height: 100%;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
        line-height: 2;
        width: 100%;
        height: auto;
    }

    .social {
        display: flex;    
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 8rem;
        height: auto;
    }
    
}
