
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', 'Segoe UI','Open Sans', 'Helvetica Neue';
    font-size: 1.125rem;
}

:root {
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Light-Blue-Dark: hsl(233, 60%, 55%);
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Strong-Cyan-Dark: hsl(171, 44%, 35%);
}

h1 {
    font-size: 2.75rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

h2 {
    font-size: 2.15rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue)
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue)
}

p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 1.5;
}

.bg-header {
    background-image: url("images/bg-header-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 22.688rem;
    width: 100%;
    margin-top: 0.25rem;
    z-index: -1;
}

.logo {
    background-image: url(images/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
 }
 
.button a {
    color: white;

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;

    cursor: pointer;
}

.button {
    display: flex;
    width: 500px;
    margin-top: 35px;
    justify-content: space-evenly;
}

.primary {
    background-color: var(--Strong-Cyan);

    padding: 1rem 2.25rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid var(--Strong-Cyan-Dark) ;
}

.primary:hover {
    filter: drop-shadow(0 2px 4px var(--Strong-Cyan));
}

.secondary {
    background-color: var(--Light-Blue);
  
    padding: 1rem 2.25rem;
    border-radius: 2rem;
    border-bottom: 0.2rem solid var(--Light-Blue-Dark) ;
}

.secondary:hover {
    filter: drop-shadow(0 2px 4px var(--Light-Blue));
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.first p {
    padding: 1rem;
}

.first .logo {
    margin-top: 130px;
    margin-bottom: 60px;
    height: 7.813rem;
    width: 7.813rem;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.second h2 {
    margin-top: 140px;
}

.second p {
    margin-top: 25px;
    font-size: 1.15rem;
}

.third {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5rem;
   
}

.computer {
    background-image: url(images/image-computer.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 570px;
    width: 100%;
    margin-left: -2rem;
}

.list {
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding-right: 17rem;
    width: 830px;
    margin-top: 2rem;
}

.list h3 {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.list p {
    font-size: 1rem;
    line-height: 2;
}
